h2{
  text-align: center;
}

.AddQuestionContainer{
  text-align: left;
}

.AddQuestionButton {
  margin-left: 60px;
  padding: 12px;
}

.AddQuestionButton > span, .AddQuestionButton > svg {
  font-weight: bold;
  font-size: 18px;
}

.AddQuestionButton:hover{
  cursor: pointer;
}


.QuestionsContainer{
  text-align: left;
  margin-left: 60px;
  border-left: 10px solid lightgray;
  max-width: 800px;
  max-height: 650px;
  overflow-y: auto;
}

.Question {
  border-bottom: 1px dashed gray;
  padding: 20px;
  cursor: pointer;
}
